
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    font-size: medium;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flow-root;
}
footer{
    background-color: #333;
    height: 50px;
    text-align: center;
    color: white;
}
a{
    text-decoration: none;
    color: white;
}
.top{
    display: none;
}
.sidebar {
    height: 98vh;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #333;
    padding-top: 20px;
    border-radius: 0 20px 20px 0;
    transition: width ease-in-out 0.3s;
    overflow: auto;
}
.sidebar.collapsed {
    width: 115px;
}
.sidebar a {
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 15px;
    padding: 15px 10px; 
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
    border-radius: 15px;
    white-space: nowrap;
    overflow: hidden;
    transition: width ease-in-out 0.3s;
}
.sidebar button{
    margin-left: 40px;
    margin-right: 50px ;
}
.sidebar.collapsed button{
    margin: auto;
}
.sidebar.collapsed .ico{
    display: none;
}
div:not(.sidebar.collapsed) .colico{
    font-size: 0;
}
.sidebar a:hover {
    background-color: #575757;
}
.sidebar .toggle-btn {
    font-size: 22px;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
    padding: 15px;
    text-align: left;
}
.sidebar a.active{
    background-color: #4CAF50;
}
.main-content {
    margin-left: 260px;
    padding: 20px;
    transition: margin ease-in-out 0.3s;
}
.main-content.collapsed {
    margin-left:115px;
}
.header {
    background-color: #4CAF50;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    color: white;
    margin-bottom: 10px;
}
.balance {
    display: inline-block;
    background-color: #333;
    color: white;
    padding: 20px;
    margin: 1dvb 0;
    border-radius: 15px;
    overflow: auto;
    width: 100%;
}
.balance-item{
    float: left;
}
.username, .testimonies{
    display: inline-block;
    background-color: #333;
    color: white;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 15px;
    text-align: center;
    overflow: auto;
    margin-right: 10px;
}
.testimonies{
    font-size: 18px;
}
.assets, .order-content {
    clear: both;
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 95%;
}
.asset, .order-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}
.asset:last-child, .order-content:last-child, .order-item:last-child {
    border-bottom: none;
}
.asset img, .order-item img{
    width: 100px;
    border-radius: 15px;
}
.asset-info, .order-details {
    flex: 1;
    margin-left: 20px;
}
.asset-info h3, .order-details h3 {
    margin-top: 15px;
}
.join-btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 15px;
    cursor: pointer;
    float: right;
}
.cancel-btn {
    background: #ff4c4c;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 15px;
    cursor: pointer;
    float: right;
}
.go-on-btn{
    background: #49a73d;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 15px;
    cursor: pointer;
    float: right;
}
.join-btn:hover {
    background-color: #45a049;
}
.cancel-btn:hover {
    background: #ee3131;
}
#fund-btn{
    background-color: #4CAF50;
    color: white;
    font-family: Verdana, sans-serif;
    font-size: 18px;
    font-weight: bold;
    border-radius: 18px;
    cursor: pointer;
    float: right;
    padding: 8px 30px 8px 30px;
    clear: both;
    margin-top: -40px;
}
#wit-btn{
    background-color: #4CAF50;
    color: white;
    font-family: Verdana, sans-serif;
    font-size: 18px;
    font-weight: bold;
    border-radius: 18px;
    cursor: pointer;
    float: right;
    padding: 8px 20px 8px 20px;
}
.icofont-arrow-left{
    font-size: 20px;
}
.icofont-arrow-right{
    font-size: 20px;
}
#account-details{
    margin-top: 20px;
    background-color: white;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flow-root;
}
label{
    margin-top: 10px;
    font-size: 15px;
    font-weight: bold;
    margin-left: 3%;
}
input{
    margin-left: 3%;
    height: 20px;
    width: 100%;
    margin-top: 10px;
}
#amt, #acct-num, #bank{
    margin-left: 3%;
    font-size: 15px;
    padding: 5px 10px;
    width: 90%;
}
#amt1{
    font-size: 18px;
}
#submit{
    width: 40%;
    border-radius: 15px;
    border: none;
    background-color: #4CAF50 ;
    color: white;
    padding: 7.5px 0px 20px 0px;
    margin-left: 33%;
}
#link-acct{
    color: blue;
    font-size: 18px;
    font-weight: 700;
    float: right;
    margin-right: 45px;
}
#usr{
    margin-right: 10px; 
    float: right;
}
#usrid{
    font-size: 24px;
    font-weight: bold;
    clear: both; 
    color: lightblue;
}
#user{
    font-size: 17px; 
    font-weight: 600;
}
#testm{
    clear: both; 
    width: 70%; 
    float: left;
}
#test{
    clear: both; 
    color: lightblue;
}
.amts{
    background-color: #333;
    color: white;
    padding: 10px 30px 10px 30px;
    border-radius: 25px;
    display: inline-block;
    width: 15%;
    text-align: center;
}
#bal{
    overflow: auto; 
    background-color: #333; 
    text-align: center; 
    width: auto; 
    color: white; 
    border-radius: 15px; 
    margin-left: 30%; 
    margin-right: 30%; 
    padding: 20px;
}
#q{
    margin-left: 15%;
}
.tabs{
    text-align: center;
}
#tab1{
    background-color: #333;
    color: #f4f4f4;
    font-size: large;
    font-weight: bold;
    padding:5px 20px 5px 20px;
    border-radius: 15px;
    cursor: pointer;
}
#tab2{
    background-color: #333;
    color: #e1f71f;
    font-size: large;
    font-weight: bold;
    padding:5px 20px 5px 20px;
    min-width: 80px;
    border-radius: 15px;
    cursor: pointer;
}
#tab3{
    background-color: #333;
    color: #32d412;
    font-size: large;
    font-weight: bold;
    padding:5px 20px 5px 20px;
    border-radius: 15px;
    cursor: pointer;
}
#tab4{
    background-color: #333;
    color: #f10909;
    font-size: large;
    font-weight: bold;
    padding:5px 20px 5px 20px;
    border-radius: 15px;
    cursor: pointer;
}
@media screen and (max-width: 540px) {
    body{
        font-size: 0.8em;
    }
    .username {
        width: 10em;
        height: auto;

    }
    .balance{
        width: 95%;
        height: auto;
    }
    .sidebar{
        width: 100%;
        border-radius: 0%;
    }
    .sidebar a {
        margin-bottom: 15px;
    }
    .sidebar.collapsed{
        display: none;
    }
    .main-content{
        margin-left: 0;
    }
    .main-content.collapsed{
        margin-left: -10px;
    }
    .order-content {
        width: 93%;
    }
    .sidebar button{
        margin-left: 10px;
    }
    .top{
        background-color: #333;
        height: 40px;
        display: block;
    }
    .top a{
        text-decoration: none;
    }
    .join-btn{
        padding: 5px 10px;
        margin-right: -10px;
    }
    .cancel-btn{
        padding: 5px 10px;
        margin-right: -10px;
    }
    #cc{
        display: block;
        margin-right: 10px;
        margin-top: 4px;
        float: right;
    }
    #btn{
       float: left;
       background-color: #333;
       color: white;
       border: none;
       font-size: 18px;
       margin-top: 5px;
    }
    #amt, #acct-num, #bank{
        margin-top: 20px;
        margin-left: 2%;
        width: 85%;
    }
    #q{
        margin-left: 0%;
    }
    #bal{
        overflow: auto; 
        background-color: #333; 
        text-align: center; 
        width: auto; 
        color: white; 
        border-radius: 15px; 
        margin-left: 0%; 
        margin-right: 0%; 
        padding: 20px;
    }
    #link-acct{
        margin-top: 19px;
        margin-right: 25px;
    }
    #amt1{
        bottom: 2%;
    }
    #testm{
        width: 50%;

    }
    #usr{
        float: right;
        display: block;
    }
    #usrid{
        font-size: 1.5em;
    }
    .assets{
        width: 91%;
    }
    #wit-btn{
        margin-top: -20px;
    }
    .amts{
        width: 12%;
    }
    #fund-btn{
        font-size: 13px;
        margin-top: -20px;
        padding: 8px 20px 8px 20px;
    }
    #wit-btn{
        font-size: 13px;
        margin-top: 0px;
        padding: 8px 10px 8px 10px;
    }
    .icofont-arrow-left{
        font-size: 15px;
    }
    .icofont-arrow-right{
        font-size: 15px;
    }
    #tab1{
        padding:5px 10px 5px 10px;
    }
    #tab2{
        padding:5px 10px 5px 10px;
    }
    #tab3{
        padding:5px 10px 5px 10px;
    }
    #tab4{
        padding:5px 10px 5px 10px;
    }
  }
  @media screen and (max-width: 390px){
    body{
        font-size: 0.7em;
    }
    .join-btn{
        padding: 5px 10px;
        margin-right: -25px;
    }
  }