
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
.sidebar {
    height: 98vh;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #333;
    padding-top: 20px;
    border-radius: 0 20px 20px 0;
    transition: width ease-in-out 0.3s;
    overflow: auto;
}
.sidebar.collapsed {
    width: 115px;
}
.sidebar a {
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 15px;
    padding: 15px 10px; 
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
    border-radius: 15px;
    white-space: nowrap;
    overflow: hidden;
    transition: width ease-in-out 0.3s;
}
.sidebar button{
    margin-left: 40px;
    margin-right: 50px ;
}
.sidebar.collapsed button{
    margin: auto;
}
.sidebar.collapsed a .ico{
    display: none;
}
div:not(.sidebar.collapsed) .colico{
    font-size: 0;
}
.sidebar a:hover {
    background-color: #575757;
}
.sidebar .toggle-btn {
    font-size: 22px;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
    padding: 15px;
    text-align: left;
}
.active{
    background-color: #4CAF50;
}
.main-content {
    margin-left: 260px;
    padding: 20px;
    transition: margin ease-in-out 0.3s;
}
.main-content.collapsed {
    margin-left:115px;
}
.header {
    background-color: #4CAF50;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    color: white;
}
.balance {
    display: inline-block;
    background-color: #333;
    color: white;
    padding: 20px;
    margin: 20px 0;
    border-radius: 15px;
    text-align: center;
    overflow: auto;
}
.username {
    display: inline-block;
    background-color: #333;
    color: white;
    padding: 20px;
    margin: 20px 0;
    border-radius: 15px;
    text-align: center;
    overflow: auto;
}
.assets {
    clear: both;
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.asset {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}
.asset:last-child {
    border-bottom: none;
}
.asset img {
    width: 100px;
    border-radius: 15px;
}
.asset-info {
    flex: 1;
    margin-left: 20px;
}
.asset-info h3 {
    margin-top: 15px;
}
.join-btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 15px;
    cursor: pointer;
    float: right;
    
}
.join-btn:hover {
    background-color: #45a049;
}
@media screen and (max-width: 440px) {
    body{
        font-size: 0.8em;
    }
    .username {
        width: 10em;
        height: auto;

    }
    .balance{
        width: 12em;
        height: auto;
    }
    .sidebar{
        width: 100%;
        border-radius: 0%;
    }
    .sidebar a {
        margin-bottom: 15px;
    }
    .sidebar.collapsed{
        display: none;
    }
    .main-content{
        margin-left: 0;
    }
    .main-content.collapsed{
        margin-left: 0;
    }
    .sidebar button{
        margin-left: 10px;
    }
    .top{
        background-color: #333;
        height: 40px;
    }
    .top a{
        text-decoration: none;
    }
    .join-btn{
        padding: 5px 10px;
        margin-right: -10px;
    }
    #cc{
        display: block;
        margin-right: 10px;
        margin-top: 4px;
        float: right;
    }
    #btn{
       float: left;
       background-color: #333;
       color: white;
       border: none;
       font-size: 18px;
       margin-top: 5px;
    }
  }
  @media screen and (max-width: 390px){
    body{
        font-size: 0.7em;
    }
    .join-btn{
        padding: 5px 10px;
        margin-right: -25px;
    }
  }